<div id="d3Container" class="hidden">
    <div id="d3GraphOptions">
        <div id="physicsOption">
            <label for="physics" class="optionName">Physics</label>
            <label id="optionLabel"><input type="radio" id="physicsOn" value="true" name="physics"/>on</label>
            <label id="optionLabel"><input type="radio" id="physicsOff" value="false" name="physics"/>off</label>
        </div>
        <div id="curvesOption">
            <label for="curves" class="optionName">Curved Paths</label>
            <label id="optionLabel"><input type="radio" id="curvesOn" value="true" name="curves"/>on</label>
            <label id="optionLabel"><input type="radio" id="curvesOff" value="false" name="curves"/>off</label>
        </div>
        <div id="floatOption">
            <label for="float" class="optionName">Float Direction</label>
            <label id="optionLabel"><input type="radio" id="floatRight" value="0" name="float"/>right</label>
            <label id="optionLabel"><input type="radio" id="floatDown" value="1" name="float"/>down</label>
            <label id="optionLabel"><input type="radio" id="noFloat" value="2" name="float"/>none</label>
        </div>
        <div id="itemNamesOption">
            <label for="itemNamePlacement" class="optionName">Item Name Placement</label>
            <label id="optionLabel"><input type="radio" id="itemNamesRight" value="0" name="itemNamePlacement"/>right</label>
            <label id="optionLabel"><input type="radio" id="itemNamesBelow" value="1" name="itemNamePlacement"/>below</label>
            <label id="optionLabel"><input type="radio" id="itemNamesMix" value="2" name="itemNamePlacement"/>mix</label>
        </div>
    </div>
</div>
