<div id="hierarchy" class="hidden">
    <p>Select a root item from below to view all of its downstream items,
    or click the "Render Graph" button to view the traceability graph:</p>
    <ul id="itemHierarchyLists"></ul>
    <p id="noItems">Sorry, there are no items to display.</p>
    <input id="renderButton" type="button" value="Render Graph" >
</div>
