<div id="hierarchy">
  <h3>Select a root item from below to view all of its downstream items,
    or click the "Render Graph" button to view the traceability graph:</h3>
  <%function renderSubItems(item) {%>
    <ul>
      <li>
        <%= item.name %>
        <%if (item.children) {%>
          <%item.children.forEach(function (subItem) {%>
            <%- renderSubItems(subItem); %>
          <%});%>
        <%}%>
      </li>
    </ul>
  <%}%>
  <ul id="itemHierarchyLists">
    <%if(itemHierarchy) {%>
      <%itemHierarchy.forEach(function (rootItem) {%>
        <li>
          <%= rootItem.name %>
          <%if (rootItem.children) {%>
            <%rootItem.children.forEach(function (subItem) {%>
              <%- renderSubItems(subItem); %>
            <%});%>
          <%}%>
        </li>
      <%});%>
    <%} else {%>
      <p>Sorry, there are no items to display.</p>
    <%}%>
  </ul>
  <input id="renderButton" type="button" value="Render Graph" >
</div>
