<div id="hierarchy" class="hidden">
    <h3>Select a root item from below to view all of its downstream items,
        or click the "Render Graph" button to view the traceability graph:</h3>
    <ul id="itemHierarchyList">
    </ul>
    <input id="renderButton" type="button" value="Render Graph" >
</div>
