<div id="projects">
    <%if (projects === null || projects.length === 0) {%>
        <p>Sorry, there are no projects to display.</p>
    <%} else {%>
        <p>Select a project below to view its traceability graph:</p>
        <ul>
          <%projects.forEach(function (project) {%>
            <li><a href="#project=<%= project.id %>" data-id="<%= project.id %>"><%= project.name %></a></li>
          <%});%>
        </ul>
    <%}%>
</div>
