<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Please select a root item from below, and click 'Render Graph': </h3>
    <ul id="itemHierarchy">
      <%if(itemHierarchy.length > 0) {%>
        itemHierarchy.forEach(function (item) {
          <li><%= item.name %></li>
        });
      } else {
        <p>Sorry, there are no items to display.</p>
      <%}%>
    </ul>
    <script src="js/hierarchy.js"></script>
  </body>
</html>