<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="logIn" method="post">
      <div>
        <label for="teamName">Team Name:</label>
        <input id="teamName" type="text" name="teamName" autofocus required maxlength="200" />
      </div>
      <div>
        <label for="username">Username:</label>
        <input id="username" type="text" name="username" required maxlength="200" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" required maxlength="200" minlength="6" />
      </div>
      <input type="submit" value="Submit" />
      <%if (error !== undefined && error !== "false"){%>
      <!--TODO: use proper CSS class when CSS is complete-->
      <div style="color:red">
        <%= error%>
      </div>
      <%}%>
    </form>
  <script src="js/index.js"></script>
  </body>
</html>
