<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="logIn" method="post">
      <div>
        <label for="username">Username:</label>
        <input id="username" type="text" name="username" autofocus required maxlength="200" />
        <span class="error">*</span>
      </div>
      <div>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" required maxlength="200" minlength="6" />
        <span class="error">*</span>
      </div>
      <input type="submit" value="Submit" />
    </form>
    <!--TODO: add error messages -->
    <!-- TODO: On a post to this page, don't change the title of the page to the error message -->
  <script src="js/index.js"></script>
  </body>
</html>
