<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div id="logo"><img src="img/logo.png" alt="<%= title %>" /></div>
    </header>
    <form id="logIn" method="post">
      <div>
        <label for="username">Username:</label>
        <input id="username" type="text" name="username" required maxlength="200" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" required maxlength="200" minlength="6" />
      </div>
      <input type="submit" value="Login" />
      <%if (typeof error !== 'undefined' && error){%>
      <div class="error">
        Your login attempt was not successful. The user credentials you entered were not valid, please try again.
      </div>
      <%}%>
    </form>
  <script src="js/index.js"></script>
  </body>
</html>
