<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h2>Please click on a project below to display its traceability graph: </h2>
    <ul id="projectList">
        <% projects.forEach(function(project){ %>
        <li><a href="/graph?id=<%= project.id %>" data-id="<%= project.id %>"><%= project.name %></a></li>
        <% }); %>
    </ul>
    <script src="js/project.js"></script>
</body>
</html>
