.hidden {
    display: none !important;
}

body,
html {
    height: 100%;
}

body {
    padding-top: 25px;
    overflow: hidden;
}

header {
    position: relative;
    min-height: 72px;
}

#d3Container {
    width: 100%;
    flex: 1;
}

ul {
    list-style: none;
}

ul > li {
    margin: 0.5rem 0;
}

#backContainer {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
}

#logOutContainer {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
}

#hierarchy,
#projects {
    flex: 1;
}

#hierarchy {
    display: flex;
    flex-direction: column;
}

#hierarchy > ul {
    flex: 1;
    overflow-y: scroll;
    margin-bottom: 1.5rem;
}

.item-hierarchy-set {
    font-family: "Gill Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.selected-item {
    color: #FFF;
    background-color: #4696B9;
    text-shadow: 0 1px 0 #293B49;
    padding: 0.2rem;
}

.selected-item:hover {
    text-decoration: none;
}

#d3GraphOptions {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 1.5rem;
    width: 35rem;
    font-size: 10pt;
    flex-shrink: 0;
}

#physicsOption > *,
#curvesOption > *,
#itemNamesOption > *,
#floatOption > * {
    width: 25%;
    padding: 0.1rem;
    overflow: hidden;
    float: left;
}

input[type=radio] {
    margin: 0 0.5rem;
}

#optionLabel {
    font-family: "Gill Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    margin-right: -3rem;
}

.optionName {
    display: inline-flex;
    flex-direction: row;
    margin-right: 2rem;
}
