path.link {
    fill: none;
    stroke: #BEBEBE;
    stroke-width: 2px;
}

path.link-dash {
    stroke: #26B2D9;
    stroke-dasharray: 5;
}

path.suspect {
    stroke: #F94306 !important;
}

path.link-dot {
    stroke: #F2622B;
    stroke-dasharray: 5,5;
    d: M5 20 l215 0;
}

.arrow {
    fill: #BEBEBE;
    stroke: #BEBEBE;
    stroke-width: 2px !important;
}

.arrow-suspect {
    fill: #F94306 ;
    stroke: #F94306 ;
    stroke-width: 2px !important;
}

.node {
    fill-opacity: 1.0;
}

.node circle {
    stroke-width: 2px;
    fill: #93D9EC;
    stroke: #93D9EC;
}

.hasDownstream > circle {
    fill: #4696B9;
    stroke: #293B49 !important;
    stroke-width: 2px;
}

.hasDownstream > .downstreamCount > circle {
    stroke: #000 !important;
    fill: #F2622B;
    stroke-width: 1px;
}

.downstreamCountText {
    fill: #FFF;
    font-weight: bolder;
    font-size: 10px;
}

rect {
    height: 19px;
    width: 120px;
    fill: #FFF;
    stroke: #efefef;
    stroke-width: 2px;
    pointer-events: none;
}

.nodeText {
    fill: #000;
    paint-order: stroke;
    stroke: #FFF;
    stroke-width: 3px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font: 10px sans-serif;
    pointer-events: none;
    stroke-opacity: 0.7;
}

image {
    height: 18px;
    width: 18px;
}

.hoverOver > circle {
    fill: #FFA070;
    stroke: #FFA070;
}

.hoverOverEdge {
    stroke-dasharray: 5;
    stroke-width: 3px;
}

.activeNode > circle {
    fill: #FFB900;
    stroke: #C38B00 !important;
}

.projectRoot circle {
    fill: #C94418;
    stroke: #C94418 !important;
    stroke-width: 2px;
}

.nodeInfoTip {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    padding: 0px;
    max-width: 300px;
    background-color: #f9f9f9;

    /*Drop shadow*/
    -webkit-box-shadow: 0px 0px 64px -36px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 64px -36px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 64px -36px rgba(0,0,0,0.5);

    /* Rounded Corners */
    border-radius: 0px 10px 10px 10px;
    -moz-border-radius: 0px 10px 10px 10px;
    -webkit-border-radius: 0px 10px 10px 10px;
    border: 1px solid #BEBEBE;
}

/* Small triangle extender for the node tooltip */
.nodeInfoTip:before {
    font-size: 10px;
    display: inline;
    width: 100%;
    text-align: center;
    line-height: 1;
    color: #f9f9f9;
    box-sizing: border-box;
    position: absolute;
    content: "\25B2";
}

.nodeInfoTip > h5 {
    margin: 0px;
    padding: 5px 10px;
}

.nodeInfoTip > h5.critical {
    margin: 0px;
    padding: 5px 10px;
    color: #F94306;
}

.nodeInfoTip > div.content {
    padding: 10px 15px;
    margin: 0px;
    height: 100%;
}

.nodeInfoTip > div.content.text-center {
    text-align: center;
}

.nodeInfoTip img {
    position: relative;
    top: 0.2rem;
    margin-right: 0.2rem;
}

.tooltip-relationship-text {
    font-weight: bold;

}

.suspect-badge-text {
    color: #F94306;
    font-weight: bolder;
    stroke: #FFF;
    font-size: 15pt;
    stroke-width: 4px;
}

.node-suspect > .suspect-flag > .suspect-badge-text {
    fill: #F94306;
    paint-order: stroke;
    font-weight: bolder;
    stroke: #FFF;
    font-size: 15pt;
    stroke-width: 4px;
}
