path.link {
    fill: none;
    stroke: #cfcfcf;
    stroke-width: 2px;
}

path.link-dash {
    stroke: #73a8cf;
    stroke-dasharray: 5;
}

path.suspect {
    stroke: #73a8cf !important;
}

path.link-dot {
    stroke: #F2622B;
    stroke-dasharray: 5,5;
    d: M5 20 l215 0;
}

.arrow {
    fill: #afafaf;
    stroke: #afafaf;
    stroke-width: 2px !important;
}

.node {
    fill-opacity: 0.80;
}

.node circle {
    stroke-width: 2px;
    fill-opacity: 0.80;
    fill: #76D3F5;
    stroke: #fff;
}

.hasDownstream > circle {
    stroke: #1e4c90 !important;
    stroke-width: 2px;
}

.hasDownstream > .downstreamCount > circle {
    stroke: #fff !important;
    fill: #F2622B;
    fill-opacity: 0.90;
    stroke-width: 1px;
}

.downstreamCountText {
    fill: #fff;
    font-weight: bolder;
    font-size: 10px;
}

rect {
    height: 19px;
    width: 120px;
    fill: #fff;
    stroke: #efefef;
    stroke-width: 2px;
    fill-opacity: 0.80;
    pointer-events: none;
}

.nodeText {
    fill: #000;
    paint-order: stroke;
    stroke: #fff;
    stroke-width: 3px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font: 10px sans-serif;
    pointer-events: none;
    stroke-opacity: 0.7;
}

image {
    height: 18px;
    width: 18px;
}
.activeNode {
    fill: 'steelblue';
}

.projectRoot circle {
    fill: #F2622B;
    stroke: #F2622B;
    stroke-width: 2px;
}
