body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* d3 node configuration */
path.link {
  fill: none;
  stroke: #efefef;
  stroke-width: 1.5px;
}

.arrow {
  fill: #bfbfbf;
  stroke: #afafaf;
  stroke-width: 1.5px !important;
}

circle {
  fill: #fff;
  stroke: #F2622B;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}

.node {
  fill: 'steelblue';
}
