* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

a {
  color: #00B4FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#logo {
  text-align: center;
  width: 100%;
}
#logo.small {
  position: absolute;
}

#logo img {
  max-width: 56rem;
}
#logo.small img {
  max-width: 18rem;
}

h1 {
  align-self: flex-start;
  font-size: 35pt;
  color: #3D6272;
  margin: 0.5rem 0;
}

#logIn {
  align-self: center;
  width: 20rem;
  border-radius: 1rem;
  background-color: RGB(230,230,230);
  padding: 2rem;
}

#logIn > div:not(.error) {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  font-size: 12pt;
}

#logIn input[type=text],
#logIn input[type=password] {
  height: 1.5rem;
  margin-top: .75rem;
  font-size: 11pt;
}

input[type=button],
#logIn > input[type=submit] {
  font-size: 14pt;
  background: #F2622C;
  border: none;
  color: #ffffff;
  font-family: "Gill Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #C94418;
  cursor: pointer;
}

#logIn > input[type=submit] {
  float: right;
}

#logOutContainer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
}

header {
  position: relative;
  height: 4.5rem;
}

#logIn > .error {
  clear: both;
  margin-top: 2.5rem;
}

.error {
  font-size: 10pt;
  color: #C94418;
}

ul {
  list-style: none;
}

ul > li {
  margin: 0.5rem 0;
}

#hierarchy,
#projects {
  flex: 1;
}

#hierarchy {
  display: flex;
  flex-direction: column;
}

#hierarchy > ul {
  flex: 1;
  overflow-y: scroll;
  margin-bottom: 1.5rem;
}

svg {
  width: 100%;
  flex: 1;
}

/*  === Graph Styles === */
path.link {
  fill: none;
  stroke: #cfcfcf;
  stroke-width: 2px;
}

path.link-dash {
  stroke: #73a8cf;
  stroke-dasharray: 5;
}

path.suspect {
  stroke: #73a8cf !important;
}

path.link-dot {
  stroke: #F2622B;
  stroke-dasharray: 5,5;
  d: M5 20 l215 0;
}

.arrow {
  fill: #afafaf;
  stroke: #afafaf;
  stroke-width: 2px !important;
}

.node {
  fill-opacity: 0.80;
}

.node circle {
  stroke-width: 2px;
  fill-opacity: 0.80;
  fill: #76D3F5;
  stroke: #fff;
}

.hasDownstream > circle {
  stroke: #1e4c90 !important;
  stroke-width: 2px;
}

.hasDownstream > .downstreamCount > circle {
  stroke: #fff !important;
  fill: #F2622B;
  fill-opacity: 0.90;
  stroke-width: 1px;
}

.downstreamCountText {
  fill: #fff;
  font-weight: bolder;
  font-size: 10px;
}

rect {
  height: 19px;
  width: 120px;
  fill: #fff;
  stroke: #efefef;
  stroke-width: 2px;
  fill-opacity: 0.80;
  pointer-events: none;
}

.nodeText {
  fill: #000;
  paint-order: stroke;
  stroke: #fff;
  stroke-width: 3px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  font: 10px sans-serif;
  pointer-events: none;
  stroke-opacity: 0.7;
}

image {
  height: 18px;
  width: 18px;
}
.activeNode {
  fill: 'steelblue';
}

.projectRoot circle {
  fill: #F2622B;
  stroke: #F2622B;
  stroke-width: 2px;
}