body {
  display: flex;
  flex-direction: column;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B4FF;
}

#logo {
  max-width: 28em;
}

h1 {
  align-self: center;
}

#logIn {
  align-self: center;
  width: 20rem;
  border-radius: 1rem;
  background-color: RGB(230,230,230);
  padding: 2rem;
}

#logIn > div:not(.error) {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  font-size: 12pt;
}

#logIn input[type=text],
#logIn input[type=password] {
  height: 1.5rem;
  margin-top: .75rem;
  font-size: 11pt;
}

#logIn > input[type=submit] {
  float: right;
  font-size: 14pt;
  background: #F2622C;
  border: none;
  color: #ffffff;
  font-family: "Gill Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #C94418;
  cursor: pointer;
}

#logIn > .error {
  clear: both;
  margin-top: 2.5rem;
}

.error {
  font-size: 10pt;
  color: #C94418;
}

/*  === Graph Styles === */
path.link {
  fill: none;
  stroke: #cfcfcf;
  stroke-width: 2px;
}

path.link-dash {
  stroke: #73a8cf;
  stroke-dasharray: 5;
}

path.suspect {
  stroke: #73a8cf !important;
}

path.link-dot {
  stroke: #F2622B;
  stroke-dasharray: 5,5;
  d: M5 20 l215 0;
}

.arrow {
  fill: #afafaf;
  stroke: #afafaf;
  stroke-width: 2px !important;
}

.node {
  fill-opacity: 0.80;
}

.node circle {
  stroke-width: 2px;
  fill-opacity: 0.80;
  fill: #76D3F5;
  stroke: #fff;
}

.hasDownstream > circle {
  stroke: #1e4c90 !important;
  stroke-width: 2px;
}

.hasDownstream > .downstreamCount > circle {
  stroke: #fff !important;
  fill: #F2622B;
  fill-opacity: 0.90;
  stroke-width: 1px;
}

.downstreamCountText {
  fill: #fff;
  font-weight: bolder;
  font-size: 10px;
}

rect {
  height: 19px;
  width: 120px;
  fill: #fff;
  stroke: #efefef;
  stroke-width: 2px;
  fill-opacity: 0.80;
  pointer-events: none;
}

.nodeText {
  fill: #000;
  paint-order: stroke;
  stroke: #fff;
  stroke-width: 3px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  font: 10px sans-serif;
  pointer-events: none;
  stroke-opacity: 0.7;
}

image {
  height: 18px;
  width: 18px;
}
.activeNode {
  fill: 'steelblue';
}

.projectRoot circle {
  fill: #F2622B;
  stroke: #F2622B;
  stroke-width: 2px;
}

.nodeInfoTip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  padding: 0px;
  width: 300px;
  background-color: #f9f9f9;

  /*Drop shadow*/
  -webkit-box-shadow: 0px 0px 64px -36px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 0px 64px -36px rgba(0,0,0,0.57);
  box-shadow: 0px 0px 64px -36px rgba(0,0,0,0.57);

  /* Rounded Corners */
  border-radius: 0px 10px 10px 10px;
  -moz-border-radius: 0px 10px 10px 10px;
  -webkit-border-radius: 0px 10px 10px 10px;
  border: 1px solid #cfcfcf;
}

/* Small triangle extender for the node tooltip */
.nodeInfoTip:before {
  font-size: 10px;
  display: inline;
  width: 100%;
  text-align: center;
  line-height: 1;
  color: #f9f9f9;
  box-sizing: border-box;
  position: absolute;
  content: "\25B2";
}

.nodeInfoTip > h5 {
  margin: 0px;
  padding: 5px 10px;
}
.nodeInfoTip > div.content {
  padding: 10px 15px;
  margin: 0px;
  height: 100%;
}